


body {
	margin: 0;
}

header{
	background: black;
	color: white;
	padding:8px 0px 6px 40px;
	height: 50px;
}

header h1{
	display: inline;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
}

nav ul{
	display: inline;
	padding: 0px;
	float:left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	float:left;
	margin-left: 12px;

}

nav ul li a{
	color:white;
	text-decoration: none;
}




.container img{
	
	width:100%;
	height: auto; 
	margin:0;
	background-size:100%;
	padding: 0;
}


.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:x-large;
    font-weight:bolder;
    color:navy;
}





